@{
    ViewBag.Title = "AcercaDe";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container">

    <h2>AcercaDe</h2>

    <div class="card card-container">
        <p>Este es un proyecto en ASP.NET C# utilizando MVC y LINQ para obtener datos de una base de datos en SQL Server</p>
    </div>
    <div>
        @Html.ActionLink("Volver", "Users", "Users")
    </div>

</div>

